<nav class="navbar navbar-light bg-light">
<span class="navbar-brand mb-0 h1">Editar usuário</span>
</nav>
<%= render 'form', user: @user %>

<div class="">
    <%= link_to '<button type="button" class="btn btn-primary">Ver</button>'.html_safe, @user %> |
    <%= link_to '<button type="button" class="btn btn-primary">Voltar</button>'.html_safe, users_path %>
</div>