<nav class="navbar navbar-light bg-light container-fluid">
<span class="navbar-brand mb-0 h1">Editar usuário</span>
</nav>
<%= render 'form', user: @user %>

<div class="container-fluid">
    <%= link_to '<button type="button" class="btn btn-danger">Remover</button>'.html_safe, @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>