<nav class="navbar navbar-light bg-light">
<span class="navbar-brand mb-0 h1">Criar usuário</span>
</nav>
<%= render 'form', user: @user %>
<div class="container fixed-bottom">
<%= link_to '<button type="button" class="btn btn-primary">Voltar</button>'.html_safe, users_path %>
<div>